<!DOCTYPE html>

<html>

    <head>
        <title>Survey</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    </head>

    <body>
      
        <h3>
            What are your house requirements?
        </h3>
        
        <body id="foo">
            <li> whee?</li>



        </body>
        <form>
            <div class="form-group">
              <label for="neighborhood">Neighborhood Preference</label>
              <input type="Neighborhood" class="form-control" id="neighborhood" aria-describedby="neighborhood" placeholder="Enter neighborhood">
              <small id="neighborhood" class="form-text text-muted">Enter your prefered neighborhood.</small>
            </div>
            <div class="form-group">
                <label for="priceRange">Price Range</label>
                <select id="priceRange" class="form-control">
                  <option selected>Choose...</option>
                  <option>Range</option>
                  <option>Range</option>
                  <option>etc</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        <br>
         <form action = "/home" method = "GET"> <input type = "submit" value = "back" class="btn btn-link"></form>
        </div>



    </body>
    
</html>