<!DOCTYPE html>

<html>

    <head>
        <title>Survey</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    </head>

    <body>


        <body id="foo">
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/survey_redirect">Amazing Edamame</a>
              <!-- we can't figure out how to make the toggle to work  -->
              <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeaderCollapse">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navHeaderCollapse"> -->
                <ul class="navbar-nav navHeaderCollapse">
                  <li class="nav-item">
                    <a class="nav-link active" style = "color : black" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style = "color : black" href="/financial_info">Financials</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style = "color : black" href="/survey_redirect">Survey</a>
                  </li>
                </ul>
                <div class="typeahead">
                  <form action="/searchBar">
                    <input type="search" class="form-control rounded typeahead" data-provide="typeahead" name="selectedName" placeholder="Search for a NYC zone" aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" formaction="/searchBar" class="btn btn-outline-primary ms-md-2">search</button>
                  </form>
                </div>
              <!-- </div> -->
            </div>
          </nav>



        </body>
        <div class="mx-0 mx-sm-auto">
          <div class="card">
            <div class="card-header bg-primary">
              <h5 class="card-title text-white mt-2" id="exampleModalLabel">Housing Preferences Form</h5>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
              </div>

              <br><br>

              <form class="px-4" action="/sales" method="post">
                <p class="text-center"><strong>Survey:</strong></p>

                <div class="form-group mb-2">
                  <label for="borough">Borough Preference</label>
                  <select id="borough" name = "borough" class="form-control">
                    <option selected>Manhattan</option>
                    <option>Brooklyn</option>
                    <option>Queens</option>
                    <option>Bronx</option>
                    <option>Staten Island</option>
                  </select>
                  <small id="borough" class="form-text text-muted">Enter your prefered borough.</small>
                </div>


                <div class="form-group mb-2">
                    <label for="priceRange">Price Range</label>
                    <select id="priceRange" name = "priceRange" class="form-control">
                      <option selected>Less than 400k</option>
                      <option>400k-600k</option>
                      <option>600k-800k</option>
                      <option>800k-1.1m</option>
                      <option>1.1m-1.5m</option>
                      <option>1.5m-2m</option>
                      <option>2m+</option>
                    </select>
                    <small id="priceRange" class="form-text text-muted">Enter your prefered price range.</small>
                  </div>

                  <div class="form-group mb-2">
                    <label for="type">House Type</label>
                    <select id="type" name = "type" class="form-control">
                      <option selected>01-ONE FAMILY DWELLINGS</option>
                      <option>02-TWO FAMILY DWELLINGS</option>
                      <option>03-THREE FAMILY DWELLINGS</option>
                    </select>
                    <small id="type" class="form-text text-muted">Enter your prefered type.</small>
                  </div>

                  <br>
                  <br>
                  <br>

                  <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>

            </div>
          </div>
        </div>


        <br>
         <form action = "/home" method = "GET"> <input type = "submit" value = "back" class="btn btn-link"></form>
        </div>



    </body>

</html>
